{% extends "AcmeDemoBundle::Demo/hogas/base.html.twig" %}

{% block usuario "" %}

{% block menu  "" %}

{% block contenido %}

<h1>Acceso al modulo</h1>
<label>User</label>
<input type="text" >
<br>
<br>
<label>Password</label>
<input type="text" >
<br>
<br>
<label>Business</label>
<select></select>
<br>
<br>
<button id="hg_login" >Login</button>

{% endblock %}